<h1>login</h1>

<form action="/login" method="post">
    <input type="text" name="username" id="" placeholder="username">
    <input type="password" name="password" id="" placeholder="password">
    <button>login</button>
</form>