
<h1>register</h1>

<form action="/register" method="post">
    <input type="text" name="username" id="" placeholder="username">
    <input type="password" name="password" id="" placeholder="password">
    <input type="email" name="email" id="" placeholder="email">
    <button>register</button>
</form>
